body {
  margin-left: auto;
  width: 1300px;
  background-color:whitesmoke;
}
h1 {
  color:gray;font-size: 25px;font-family: helvetica;
  text-decoration: overline;
  text-align: center;
}
nav{
  text-align: left;
  margin-top: 50px;
  margin-left: 10px;
}
nav ul li{
  display: inline-block;
  margin-left: 40px;
  font-family: helvetica;
}
#mois{
  text-decoration:underline;
  font-weight: bold;
}
#septe {
  margin-left: 180px;
  margin-top: 50px;
  color:#007060;
  font-size: 24px;
  font-family: helvetica;
}
.day{
  display:inline-block;
  margin: 5px 5px 5px 5px;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius:10px;
  text-align: center;
  position: relative;
  top: 10px;
  background-color: white;
  line-height: 40px;
}
.calendar {
  margin: 20px 50px 50px 50px
}
.last{
  color:gray;
  text-align: center;
  border-style:dashed;
}
.cinq{
  font-weight: bold;
  background-color: #B6E5B8;
}
#ecrou{
  display:inline-block;
  position: relative;
  top: 39px;
  right: -45px;
}
#loupe{
  display:inline-block;
  position: relative;
  bottom: -38px;
  left: 375px;
}
#ajout{
  display:inline-block;
  position: relative;
  position: relative;
  bottom: -116px;
  left: 67px;
}
.today{
  font-family: helvetica;
  position: absolute;
  font-size: 22px;
  right: 435px;
  top: 218px;
}
.plan div{
  border: 1px solid black;
  width: 410px;
  height: 38px;
  border-radius:10px;
  margin:3px;
  background-color: white;
}
.plan{
  position: absolute;
  right: 280px;
  top: 278px;
  line-height: 33px;
}
.plan + div {
  text-align: center;
}

.semaines, .mois, .jour, .liste {
  text-decoration: none;
}

.semaines, .mois, .jour, .liste:visited {
  color: black;
}

.semaines:hover, .mois:hover, .jour:hover, .liste:hover {
  color:#007060;
  border-radius: 3px;
  border: 1px solid black;
  padding: 1px;
}
#treize{
  background-color: #B6E5B8;
}

.plus {
  height: 63px!important;
}

.plus p  {
  text-align: center;
  font-family: helvetica;
  margin-top: 16px;
  font-size: 22px;
}
.not{
  border: 1px solid black;
  border-radius: 10px;
  height: 156px;
  width: 380px;
  position: relative;
  bottom: -48px;
  right: -4px;
  background-color: white;
}

.not > p {
  margin-top: 11px;
  margin-left: -299px;
  font-family: helvetica;
}

#dayQuinz{
  display:inline-block;
  margin: 5px 5px 5px 5px;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius:10px;
  text-align: center;
  position: relative;
  top: 10px;
  background-color: #FFE4C4;
  line-height: 40px;
}
.div { 1
}

